@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&family=Pirata+One&display=swap');

:root {
	/* --col-paper: oklch(0.98 0.015 80); */
	/* --col-ink: oklch(0.18 0.02 255); */

	/* --col-bg-300: oklch(0.85 0.079 258); */
	/* --col-bg-400: oklch(0.78 0.118 258); */
	/* --col-bg-500: oklch(0.69 0.170 258); */
	/* --col-bg-700: oklch(0.53 0.250 258); */
	/* --col-bg-800: oklch(0.41 0.192 258); */
	/* --col-bg-900: oklch(0.27 0.126 258); */

	/* background: var(--col-ink); */
	/* color: var(--col-paper); */
	font-variant-numeric: tabular-nums;

	--theme-font-serif: 'Eczar';
	--theme-font-display: 'Pirata One';
}

body {
	font-family: var(--theme-font-serif);
	height: 100dvh;
	display: grid;
	grid-template-columns: [full-start] 1fr [main-start] minmax(0, 72ch) [main-end] 1fr [full-end];
}

main, header {
	grid-column: main;
	padding: 1rem;
}

header {
	text-align: center;
}

footer {
	grid-column: full;
}

p {
	text-indent: var(--lg-em);
}
