:root {
	/* Size variables */
	--sqrt2: sqrt(2);
	--sm6: pow(var(--sqrt2), -3.0);
	--sm5: pow(var(--sqrt2), -2.5);
	--sm4: pow(var(--sqrt2), -2.0);
	--sm3: pow(var(--sqrt2), -1.5);
	--sm2: pow(var(--sqrt2), -1.0);
	--sm1: pow(var(--sqrt2), -0.5);
	--lg1: pow(var(--sqrt2), +0.5);
	--lg2: pow(var(--sqrt2), +1.0);
	--lg3: pow(var(--sqrt2), +1.5);
	--lg4: pow(var(--sqrt2), +2.0);
	--lg5: pow(var(--sqrt2), +2.5);
	--lg6: pow(var(--sqrt2), +3.0);

	--zs: var(--sm6);
	--xs: var(--sm4);
	--sm: var(--sm2);
	--md: 1;
	--lg: var(--lg2);
	--xl: var(--lg4);
	--zl: var(--lg6);

	--sm6-rem: calc(1rem * var(--sm6));
	--sm5-rem: calc(1rem * var(--sm5));
	--sm4-rem: calc(1rem * var(--sm4));
	--sm3-rem: calc(1rem * var(--sm3));
	--sm2-rem: calc(1rem * var(--sm2));
	--sm1-rem: calc(1rem * var(--sm1));
	--lg1-rem: calc(1rem * var(--lg1));
	--lg2-rem: calc(1rem * var(--lg2));
	--lg3-rem: calc(1rem * var(--lg3));
	--lg4-rem: calc(1rem * var(--lg4));
	--lg5-rem: calc(1rem * var(--lg5));
	--lg6-rem: calc(1rem * var(--lg6));

	--zs-rem: var(--sm6-rem);
	--xs-rem: var(--sm4-rem);
	--sm-rem: var(--sm2-rem);
	--md-rem: 1rem;
	--lg-rem: var(--lg2-rem);
	--xl-rem: var(--lg4-rem);
	--zl-rem: var(--lg6-rem);

	--sm6-em: calc(1em * var(--sm6));
	--sm5-em: calc(1em * var(--sm5));
	--sm4-em: calc(1em * var(--sm4));
	--sm3-em: calc(1em * var(--sm3));
	--sm2-em: calc(1em * var(--sm2));
	--sm1-em: calc(1em * var(--sm1));
	--lg1-em: calc(1em * var(--lg1));
	--lg2-em: calc(1em * var(--lg2));
	--lg3-em: calc(1em * var(--lg3));
	--lg4-em: calc(1em * var(--lg4));
	--lg5-em: calc(1em * var(--lg5));
	--lg6-em: calc(1em * var(--lg6));

	--zs-em: var(--sm6-em);
	--xs-em: var(--sm4-em);
	--sm-em: var(--sm2-em);
	--md-em: 1em;
	--lg-em: var(--lg2-em);
	--xl-em: var(--lg4-em);
	--zl-em: var(--lg6-em);

	/* Color variables */
	--col-mono-zs: oklch(17% 0.01 268);
	--col-mono-xs: oklch(29% 0.01 268);
	--col-mono-sm: oklch(41% 0.01 268);
	--col-mono-md: oklch(53% 0.01 268);
	--col-mono-lg: oklch(67% 0.01 268);
	--col-mono-xl: oklch(83% 0.01 268);
	--col-mono-zl: oklch(97% 0.01 268);

	--col-red0: oklch(68% 0.20 015);
	--col-red1: oklch(76% 0.14 015);
	--col-orange0: oklch(76% 0.16 055);
	--col-orange1: oklch(82% 0.12 055);
	--col-yellow0: oklch(82% 0.17 080);
	--col-yellow1: oklch(88% 0.12 082);
	--col-green0: oklch(79% 0.18 156);
	--col-green1: oklch(88% 0.16 156);
	--col-cyan0: oklch(79% 0.13 200);
	--col-cyan1: oklch(88% 0.14 200);
	--col-blue0: oklch(72% 0.15 270);
	--col-blue1: oklch(79% 0.12 270);
	--col-violet0: oklch(76% 0.17 310);
	--col-violet1: oklch(82% 0.12 310);
	--col-magenta0: oklch(76% 0.18 345);
	--col-magenta1: oklch(82% 0.14 345);

	--title-margin: calc(1em - 1lh);
}


/*
  (Most of) Josh Comeau's CSS reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/*
  Roughly based on the following guidelines:
  https://html.spec.whatwg.org/multipage/rendering.html#sections-and-headings
*/

h1 {
	font-size: var(--zl-em);
}

h2 {
	font-size: var(--xl-em);
}

h3 {
	font-size: var(--lg-em);
}

h4 {
	font-size: var(--md-em);
}

h5 {
	font-size: var(--sm1-em);
}

h6 {
	font-size: var(--sm2-em);
}