{{ define "main" }}
{{ if eq .Type "posts" }}{{ if not .Params.menu }}
<h1>{{ .Title }}</h1>
<div>
	Authored
	<time datetime='{{ .Date.Format "2006-01-02" }}'>
		{{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
	</time>
	{{ if ne .Date .Lastmod }}
	/ Modified
	<time datetime='{{ .Lastmod.Format "2006-01-02" }}'>
		{{ .Lastmod.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
	</time>
	{{ end }}
</div>
<br>
{{ end }}{{ end }}
<content>
	{{ .Content }}
</content>
<div>
	{{ range (.GetTerms "tags") }}
	<a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
	{{ end }}
</div>
{{ end }}
