body {
	color: #222;
	font-family: sans-serif;
	line-height: 1.5;
	margin: auto;
	max-width: 768px;
}

header {
	border-bottom: 1px solid #222;
	margin-bottom: 1rem;
}

footer {
	border-top: 1px solid #222;
	margin-top: 1rem;
}

a {
	color: #00e;
	text-decoration: none;
}

p {
	text-indent: 4ch;
}

blockquote {
	padding-inline-start: 1rem;
	border-inline-start: 1px solid #222;
}
